{% extends 'home/base.html' %}

{% block content %}
    <h1 style="text-align:left; font-size: 30px; color: darkgoldenrod; text-decoration: underline; background-color: aqua;">Registrar Garaje</h1>
    <form style="text-align:left" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Registrar Garaje">
    </form>
    <p style="background-color: red;color: white;">para volver a la pagina principal complete el formulario o clickee <a href="{% url 'home:base' %}">AQUI</a></p>
        
{% endblock %}